 <div class="card border-light">
      <h4 class="card-header">店舗情報</h4>
      <div class="container shop_table mb-4">
          <table class="shop-table">
              <tr class="shop-table-tr">
                  <th class="shop-table-th">店舗名</th>
                  <td class="shop-table-td"><%= shop.name %></td>
              </tr>
              <tr class="shop-table-tr">
                  <th class="shop-table-th">住所</th>
                  <td class="shop-table-td"><%= shop.address %></td>
              </tr>
              <tr class="shop-table-tr">
                  <th class="shop-table-th">メールアドレス</th>
                  <td class="shop-table-td"><%= shop.email %></td>
              </tr>
              <tr class="shop-table-tr">
                  <th class="shop-table-th">電話番号</th>
                  <td class="shop-table-td"><%= shop.phone_number %></td>
              </tr>
              <tr class="shop-table-tr tr-last">
                  <th class="shop-table-th">営業時間</th>
                  <td class="shop-table-td"><%= shop.opening_hours %></td>
              </tr>
          </table>
      </div>
  </div>
