<div class=" mt-5">
<div class="card contents">
<div class="card-body"> 
<%= render partial: 'menu', locals: { user: @user } %>
    <div class="py-5">
    <% if @likes.present? %>
    <% @likes.each do |like| %>
      <% product = Product.find_by(id: like.product_id) %>
      <div class="card mb-3">
       <div class="row no-gutters">
        <div class="col-md-4">
        <%= image_tag product.image.url, :width => '100%', :height => '225', class: 'index-img' %>
       </div>
       <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= product.name %></h5>
        <p class="card-text"><%= product.description %></p>
        <h5 class="card-title">¥<%= product.price %></h5>
        <div class="text-right">
        <%= link_to  "商品ページへ", product, class: 'btn btn-outline-info w-10'%>
        </div>
      </div>
    </div>
  </div>
</div>
    <% end %>
    <% else %>
      <div class="card text-center">
       <div class="card-body">
        <h5 class="card-title">現在お気に入り登録している商品はありません</h5>
       </div>
      </div>
    <% end %>
    </div>
    </div>
    </div>
    </div>
