        <%= form_with model: @order, method: :post, local: true do |f| %>
            <%= f.hidden_field :receipt_date %>
            <%= f.hidden_field :receipt_time %>
            <%= f.hidden_field :postcode %>
            <%= f.hidden_field :prefecture_code %>
            <%= f.hidden_field :address_city %>
            <%= f.hidden_field :address_street %>
            <%= f.hidden_field :address_building %>
            <%= f.hidden_field :total_price, value: @total_price%>

          <% cart_items.each do |cart_item| %>
           <%= f.fields_for :order_products do |op| %>
             <%= op.hidden_field :price,value: cart_item.product.price %>
             <%= op.hidden_field :product_id, value: cart_item.product.id %>
             <%= op.hidden_field :quantity,value: cart_item.quantity %>
             <%= op.hidden_field :shop_id, value: cart_item.product.shop_id %>
           <% end %>
          <% end %>

        <div class="center-block text-center mb-4">
            <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="pk_test_a9194c8c91567e7dee1e398c" data-text="　　　　注文を確定する　　　　"></script>
        </div>

        <h6>注文内容</h6>
        <div class="row mb-2">
          <div class="col-sm-6">
            商品の小計：
          </div>
          <div class="col-sm-6 text-right">
            ¥<%= @total_price %>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-sm-6">
            配送料・手数料：
          </div>
          <div class="col-sm-6 text-right">
            ¥0
          </div>
        </div>
        <hr>
        <div class="row mb-2">
          <div class="col-sm-6 total-price-text">
            <h5>ご請求額：</h5>
          </div>
          <div class="col-sm-6 text-right total-price-text">
            <h5>¥<%= @total_price %></h5>
          </div>
        </div>
          <div class="text-center mt-4">
           <%= f.submit '入力画面に戻る', name: :back, class: "btn btn-secondary btn-sm" %>
          </div>
        <% end %>