<%= render 'shared/error_messages' %>

<%= form_with model: product,local: true do |f| %>
  <div class="form-group">
    <%= f.label :name, '商品名' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :price, '価格(税込み)' %>
    <%= f.text_field :price, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :quantity_per_day, '1日の提供数' %>
    <%= f.text_field :quantity_per_day, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :image, '商品画像' %>
    <%= f.file_field :image, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description, '商品説明' %>
    <%= f.text_area :description, class: 'form-control', rows: 10 %>
  </div>
<%= f.hidden_field :shop_id, value: 1 %>
   <div class="form-group">
    <span>カテゴリーを登録</span>
    <div class="card" style="width: 30rem; ">
     <div class="card-body">
    <% @tags.each do |tag| %>
          <span class="badge badge-light">
          <%= f.check_box :tag_list, { multiple: true }, "#{tag.name}", nil %>
          <%= f.label " #{tag.name}(#{tag.taggings_count})" %>
          </span>
        <% end %>
     </div>
    </div>    
</div>

  <%= f.submit '保存', class: 'btn btn-primary' %>
<% end %>