<% products.each do |product| %>
<div class="col-md-4">
    <div class="card mb-4 shadow-sm" style="white-space: nowrap !important;">
        <div class="product-img">
            <% if product.image? %>
            <%= image_tag product.image.to_s, :width => '100%', :height => '225', class: 'index-img' %>
            <% else %>
            <%= image_tag "/assets/img2.jpeg", :width => '100%', :height => '225', class: 'index-img' %>
            <% end %>
            <div class="like-btn" id="like-btn-<%= product.id %>">
                <%= render 'likes/like', product: product %>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <div class="row">
                <div class="ml-2 pl-1">
                    <div class="star-rating mb-2">
                        <div class="star-rating-front" style="width: <%= product.review_score_percentage %>%">★★★★★</div>
                        <div class="star-rating-back">★★★★★</div>
                    </div>
                </div>
                <div class="ml-3">
                    <div class="pt-2">
                        <%= product.reviews.count %>件
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="card-title mt-3">¥<%= product.price %>(税込み)</h5>
            </div>
                    <h6 class="card-title"><i class="fas fa-store-alt mr-2"></i><%= link_to  "#{product.shop.name}", shop_path(product.shop.id), class: ''%></h6><br>
            <div class="text-right">
                <%= link_to "詳細", product, class: 'btn btn-outline-info w-10' %>
            </div>
        </div>
    </div>
</div>
<% end %>