<div class="contents mt-4">
<div class="bg-white">
<div class="contents pb-4">
<div class="mb-4 pt-5" style="width: 100%;">
  <div class="row">
    <div class="col-md-6">
       <% if @product.image? %>
        <%= image_tag @product.image.url, :width => '100%', :height => '100%', class: 'show-img'%>
       <% else %>
        <%= image_tag "/assets/img2.jpeg", :width => '100%', :height => '225' ,class: 'show-img'%>
       <% end %>
    </div>
    <div class="col-md-6">
      <div class="card-body">
      <div class="row">
       <div class="col-md-10">
        <h2 class="card-title"><%= @product.name %></h2>
        <h6 class="card-title mt-3"><i class="fas fa-store-alt mr-2"></i><%= link_to  "#{@product.shop.name}", shop_path(@product.shop.id), class: ''%></h6><br>
        </div>
        <div class="col-md-2">
         <div class="like-btn-show mr-4" id="like-btn-<%= @product.id %>">
                <%= render 'likes/like', product: @product %>
         </div>
        </div>
      </div>
        <hr>
        <p class="card-text"><%= simple_format(@product.description) %></p>
        <hr>
        <h2 class="card-title">¥<%= @product.price %></h2>

<div class="col-12 clearfix">
<div class="float-right">


 <%= form_with url: add_item_path, local: true do |f| %>
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">個数</label>
      <%= f.select :quantity, {'1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9, '10': 10}, { include_blank: false }, { class: 'custom-select my-1 mr-sm-2 select_tag'} %>
      <% if user_signed_in? %> 
        <%= f.hidden_field :user_id, :value => current_user.id %>
      <% end %>
        <%= f.hidden_field :product_id, :value => @product.id %>
      
     <%= f.submit 'カートに入れる', class: 'btn btn-primary my-1' %> 
  <% end %>

</div>
</div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'shops/shopInfo', locals: {shop: @product.shop} %>


<section class="section mt-6">
    <div class="columns is-centered">
      <div class="column is-5">
        <div class="card card-nowrap mb-6" style="white-space: nowrap !important;">
          <header class="card-header">
            <h5 class="card-header-title">
              <%= @product.name %>のレビュー
            </h5>
             <div class="content average-score">
              <div class="star-rating mb-2">
                <div class="star-rating-front" style="width: <%= @product.review_score_percentage %>%">★★★★★</div>
                <div class="star-rating-back">★★★★★</div>
              </div>
              <div class="average-score-display ml-3 pt-2">
                <%= @product.avg_score %>点（<%= @product.reviews.count %>件のレビュー）
              </div>
            </div>
          </header>
          <div class="card-content">



<% @reviews.each do |review| %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
        <div class="star-rating mb-2" style="white-space: nowrap !important;">
                <div class="star-rating-front" style="width: <%= review.review_rate_percentage %>%">★★★★★</div>
                <div class="star-rating-back">★★★★★</div>
              </div>
        </h5>
        <div class="row no-gutters">
        <div class="col-md-2">
        <p class="card-text"><%= review.user.last_name %></p>
        </div>
        <div class="col-md-10">
        <p class="card-text text-break text-wrap"><%= review.comment %></p>
        </div>
        </div>
      </div>
    </div>
  <% end %>

          </div>
        </div>
        <%= render 'reviews/form', review: @review, product: @product %>
      </div>
    </div>
</section>
</div>
</div>
</div>






